version: '3.9'

services:
  # Service PHP (Symfony)
  app-php:
    container_name: try-symfony-app
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    working_dir: /app
    volumes:
      - .:/app:cached
    env_file:
      - .env
    expose:
      - "9000"
    depends_on:
      - postgres

  # Service PostgreSQL
  postgres:
    image: postgres:15
    container_name: symfony_postgres_dev
    restart: unless-stopped
    environment:
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: symfony
      POSTGRES_DB: symfony_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

  # Service pgAdmin
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: symfony_pgadmin_dev
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - postgres

volumes:
  postgres_data_dev:

networks:
  default:
    name: symfony_dev_network
